<div class="bg-white mx-40">
    <div class="text-center h-60 mx-20">
        <div class="text-blue-900 mb-3 mx-10">
            <h2 class="text-5xl font-bold">EVENTOS</h2>
        </div>

        <div class="mx-20 text-xl text-gray-700">
            La Facultad de Ingeniería es una entidad académica de educación superior dedicada a la enseñanza, investigación y difusión de la ingeniería. Con el compromiso de formar profesionales del más alto nivel comprometidos con el mundo que les rodea.
        </div>
    </div>
</div>
