<div class="bg-blue-900 h-40">
    <div class="mr-1">
        <div class="flex justify-between">
            <div class="container">
                <div id="circulos" class="row">
                    <div class="col-12 col-md-9">
                        <div class="row">
                                <div class="text-start" style="width:30px !important">
                                    <a href="https://www.facebook.com/IngenieriaUaslp" target="_blank">
                                        <span class="fa fa-facebook-square"></span>
                                    </a>
                                </div>
                                                                        <div class="text-start" style="width:30px !important">
                                    <a href="https://twitter.com/IngenieriaUASLP" target="_blank">
                                        <span class="fa fa-twitter-square"></span>
                                    </a>
                                </div>
                                                                        <div class="text-start" style="width:30px !important">
                                    <a href="https://www.youtube.com/c/IngenieríaUASLPoficial" target="_blank">
                                        <span class="fa fa-youtube-play"></span>
                                    </a>
                                </div>
                                                                        <div class="text-start" style="width:30px !important">
                                    <a href="https://www.instagram.com/ingenieriauaslp/" target="_blank">
                                        <span class="fa fa-instagram"></span>
                                    </a>
                                </div>
                        </div>
                        <div class="row" id="identidad">
                                    <span><b>FI</b></span><br>
                                                                        <span>Facultad de Ingeniería</span><br>
                                                                        <span>Dr. Manuel Nava No. 8, Zona Universitaria Poniente,  C.P. 78290</span><br>
                                                                        <span>San Luis Potosí, San Luis Potosí</span><br>
                                                                        <span>444 826 2330</span><br>
                            <span>©2023 Todos los derechos reservados</span><br>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 m-3 m-md-0">
                        <div class="h-75 d-flex flex-column bd-highlight justify-content-start align-items-start">
                                    <div class="bd-highlight"><a href="https://www.ingenieria.uaslp.mx/#">Inicio</a></div>
                                    <div class="bd-highlight"><a href="https://www.ingenieria.uaslp.mx/Paginas/Facultad/273">Facultad</a></div>
                                    <div class="bd-highlight"><a href="https://www.ingenieria.uaslp.mx/#">Comunidad</a></div>
                                    <div class="bd-highlight"><a href="https://www.ingenieria.uaslp.mx/ProgramasAcademicos">Oferta Educativa</a></div>
                                    <div class="bd-highlight"><a href="https://www.ingenieria.uaslp.mx/#">Áreas</a></div>
                                    <div class="bd-highlight"><a href="https://www.ingenieria.uaslp.mx/#">Departamentos</a></div>
                                    <div class="bd-highlight"><a href="https://www.ingenieria.uaslp.mx/ciep">Investigación</a></div>
                        </div>
                    </div>
                </div>
            </div>
      
        </div>
    </div>
</div>
