<!-- Navbar Gris -->
<div class="bg-gray-300 h-10 items-center flex justify-end">
    <!-- Iconos -->
  <div class="mx-40">
    <div class="flex items-center space-x-1">
      <a class="flex" href="https://correo.uaslp.mx">
          <img src="https://www.uaslp.mx/ImagenesPortal/ImgComun/correo.png" width="30px">  
        <a class="ml-4 font-bold text-gray-600">Correo</a>
      </a>  

    <div class="h-5 mr-10 flex items-center">|</div>

      <a class="flex" href="https://www.uaslp.mx/Directorio">
          <img src="https://www.uaslp.mx/ImagenesPortal/ImgComun/directorio.png" width="30px">
          <a class="ml-4 font-bold text-gray-600">Directorio</a>
      </a>  
    </div>
  </div>
</div>